<!DOCTYPE html>
<html class="h-100">

<head>
    <% include ../partials/header.ejs %>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>

<body class="h-100">
    <div class="container-fluid h-100 m-0 p-0">
        <div class="jumbotron h-50 w-100">
            <div class="h-100 w-50 mx-auto my-0" id="map"></div>
        </div>        
            <form>
              <div class="form-row">
              <div class="col">
                  <input type=""
              </div>
            </form>
        </div>
        <div class="row">        
        <ul class="list-group mx-auto" id="events"></ul>
        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=key %>&callback=initMap&libraries=&v=weekly"></script>
    <script async defer type="text/javascript" src="scripts/script.js"></script>    
</body>

</html>
