<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <div class="container my-5">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
           <h5>Your Shipping Summary</h5>
            <ul class="list-unstyled">
                <li id="weightInfo">Weight: <%= weight %> <%= units %></li>
                <li id="typeInfo">Type: <%= type %></li>
                <li id="priceInfo">Price: <%= price %></li>
            </ul>
        </div>
        <div class="col-sm-3"></div>
    </div>
    </div>
</body>

</html>
